<div>
    <button class="btn btn-primary block" (click)="generatePdf()">Generar PDF de productos</button>
</div>
<ng-container *ngFor="let itemIn of products">
    <div class="col-lg-3 d-inline-flex m-2">
        <div class="card d-inline-flex card-product" (click)='selectedCard(itemIn.prod_id)'>
            <div class="card-header">
                
            </div>
            <div class="card-body">
                <form>
                    <div>
                        <img [src]="'http://localhost:4200/' + itemIn.prod_image" class="img-card-top w-100" alt="foto">
                        <input type="text" name="id" class="form-control" placeholder="Nombre producto" value={{itemIn.prod_id}} #id hidden>
                        <input type="text" name="name" class="form-control" placeholder="Nombre producto" value={{itemIn.prod_name}}>
                        <input type="text" name="descrip" class="form-control" placeholder="Descripción producto"  value={{itemIn.prod_descrip}}>
                        <input type="text" name="price" class="form-control" placeholder="Precio producto" value={{itemIn.prod_price}}>
                        <input type="text" name="wheigth" class="form-control" placeholder="Peso del producto" value={{itemIn.prod_wheigth}}>
                    </div>
                </form>
                <article>
                    <button mat-raised-button class="btn-primary">Editar</button>
                </article>
            </div>
        </div>
    </div>
</ng-container>