<section id="main">
    <div class="row">
        <div class="card">
            <div class="card-header" *ngIf="!product; else main_content">
                Editando producto
            </div>
            <div class="card-body" #main_content>
                <form>
                    <div>
                        <img [src]="'http://localhost:4200/' + product.prod_image" class="img-card-top w-100" alt="foto">
                        <input type="text" name="id" class="form-control" placeholder="Nombre producto" value={{product.prod_id}} #id hidden>
                        <input type="text" name="name" class="form-control" placeholder="Nombre producto" value={{product.prod_name}}>
                        <input type="text" name="descrip" class="form-control" placeholder="Descripción producto"  value={{product.prod_descrip}}>
                        <input type="text" name="price" class="form-control" placeholder="Precio producto" value={{product.prod_price}}>
                        <input type="text" name="wheigth" class="form-control" placeholder="Peso del producto" value={{product.prod_wheigth}}>
                    </div>
                </form>
                <article>
                    <button mat-raised-button class="btn-primary">Editar</button>
                    <button mat-raised-button class="btn-danger" (click)='delProduct(id)'>Eliminar</button>
                </article>
            </div>
        </div>
    </div>
</section>