<section id="main">
    <div class="row">
        <div class="card">
            <div class="card-header" *ngIf="!product; else main_content">
                Editando producto
            </div>
            <div class="card-body" #main_content>
                <form class="card-body" (submit)="onSubmit(id,name,category,descrip,price,wheigth,image)">
                    <div>
                        <article>
                            <input type="file" class="d-none" (change)="onPhotoSelected($event)" [value]="product.prod_image" #image>
                            <img [src]="product.prod_image || 'assets/imgs/noImage.png'" class="img-fluid"  alt="Subir imagen" (click)="image.click()">
                        </article>
                        <input type="text" name="id" class="form-control" placeholder="Nombre producto" value={{product.prod_id}} #id hidden>
                        <input type="text" name="name" class="form-control" placeholder="Nombre producto" value={{product.prod_name}} #name>
                        <select name="category" id="category" class="form-control" #category>
                            <ng-container *ngFor="let itemIn of listCategories">
                                <option value="{{itemIn.cat_id}}">{{itemIn.cat_name}}</option>
                            </ng-container>
                        </select>
                        <input type="text" name="descrip" class="form-control" placeholder="Descripción producto"  value={{product.prod_descrip}} #descrip>
                        <input type="text" name="price" class="form-control" placeholder="Precio producto" value={{product.prod_price}} #price>
                        <input type="text" name="wheigth" class="form-control" placeholder="Peso del producto" value={{product.prod_wheigth}} #wheigth>
                    </div>
                    <button mat-raised-button class="btn-primary btn-block">Guardar cambios</button>
                </form>
                <button mat-raised-button class="btn-danger btn-block" (click)='delProduct(id)'>Eliminar</button>
                <button mat-raised-button class="btn btn-success btn-block" (click)='openModal()'>Generar orden Modal</button>
            </div>
        </div>
    </div>
</section>
<div *ngIf='switchModal == true'>
   <div class="card-body center">
    <app-ordermodal [input]='product.prod_id'></app-ordermodal>
   </div>
</div>