
<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Subir imagen de producto
        </div>
        <div class="card-body">
            <form >
                <div>
                    <input type="text" name="name" placeholder="Nombre producto">
                    <input type="text" name="descrip" placeholder="Descripción producto">
                    <input type="text" name="price" placeholder="Precio producto">
                    <input type="text" name="wheigth" placeholder="Peso del producto">
                </div>
                <article>
                    <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
                    <img [src]="photoSelected || 'assets/imgs/noImage.png'" class="img-fluid"  alt="Subir imagen" (click)="photoInput.click()">
                </article>
                <button></button>
            </form>
        </div>
    </div>
</div>
