<div class="col-lg-4 mx-auto">
    <div class="card m-4">
        <div class="card-header">
            Subir imagen de producto
        </div>
        <div class="card-body">
            <form action="">
                <div>
                    <img src="" alt="foto"><br>
                    <input type="text" name="name" placeholder="Nombre producto">
                    <input type="text" name="descrip" placeholder="Descripción producto">
                    <input type="text" name="price" placeholder="Precio producto">
                    <input type="text" name="heigth" placeholder="Peso del producto">
                </div>
            </form>
            <article>
                <button mat-raised-button color="primary">Mostrar detalle</button>
            </article>
        </div>

    </div>

</div>