<section class="card">

    <div id="statistics">
        <div mat-card >
            <form action="">
                <img src="" alt="foto"><br>
                <input type="text" name="name" placeholder="Nombre producto">
                <input type="text" name="descrip" placeholder="Descripción producto">
                <input type="text" name="price" placeholder="Precio producto">
                <input type="text" name="heigth" placeholder="Peso del producto">
                
            </form>
        </div>


    </div>

    <article>
        <section id="infoStatistics">

        </section>
        <button mat-raised-button color="primary">Ir a la solicitud</button>
    </article>
</section>