@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

// Colors
$main-color: #f0f0f0;
$secondary-color: #404040;
$third-color: #00000a;
$fourth-color: #3c6cd1;
$five-color: #2e2e2e;


// Fonts
$font-principal: 'Roboto', sans-serif;
$font-secundaria: 'Roboto Condensed', sans-serif;