form mat-form-field {
  display: block;
}

.buttSubmit {
  display: flex;
  justify-content: center;
}

.mat-success {
  color: #fff !important;
  background-color: #0096c7 !important;
  font-size: 12px;
}
.mat-success[disabled] {
  background-color: #caf0f8 !important;
  font-size: 12px;
}

