form mat-form-field {
  display: block;
}

.buttSubmit {
  display: flex;
  justify-content: center;
}

mat-label.labelTitle {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #002855ff;
  margin-bottom: 10%;
}

mat-card {
  border-radius: 4px;
}

.mat-success {
  color: #fff !important;
  background-color: #0096c7 !important;
  font-size: 12px;
}
.mat-success[disabled] {
  background-color: #caf0f8 !important;
  font-size: 12px;
}

